<div class="title">
	このはくじ
</div>
<div class="top_img_box">
	<%= image_tag 'top_img.png', class: 'top_img' %>
</div>
<div class="submit_box">
	<%= link_to "くじをひく", oracle_path(), class:'submit_link' %>
</div>
