<h1>このはくじについて</h1>

当サイトで使用している「美雲このは」の画像は全て <br />
<a href="https://conoha.mikumo.com/guideline/" target="_blank">キャラクター使用のガイドライン</a>に基づいて使用しています。<br />
「美雲このは」の画像の著作権は全て<br />
「GMO Internet, Inc.」が保有しています。<br />
画像データの再利用などはご遠慮ください。


<div class="return_box">
	<%= link_to "戻る", home_index_path , class:'return_link link_button link' %>
</div>




