<h1>このはくじについて</h1>
<ul class="about_list">
	<li>このはくじは「美雲このは」のファンサイトです。</li>
	<li>公式とは一切関係ありませんので、本サービスに関して</li>
	<li>公式にお問合せすることはご遠慮ください。</li>
	<li><br/></li>
	<li>当サイトで使用している「美雲このは」の画像は全て</li>
	<li><a href="https://conoha.mikumo.com/guideline/" target="_blank">キャラクター使用のガイドライン</a>に基づいて使用しています。</li>
	<li>画像データの再利用などはご遠慮ください。</li>
</ul>

<div class="return_box">
	<%= link_to "戻る", home_index_path , class:'return_link link_button link' %>
</div>




