<h1>このはくじについて</h1>
<ul class="about_list">
	<li>このはくじ（以下「当サイト」とします）は</li>
	<li>双馬凜（以下「管理者」とします）が作成する</li>
	<li>「美雲このは」のファンサイトです。</li>
	<li>公式とは一切関係ありませんので、当サイトに関して</li>
	<li>公式にお問合せすることはご遠慮ください。</li>
	<li><br/></li>
	<li>当サイトに問題がある場合は、<a href="https://twitter.com/rin_souma" target="_blank">管理者のTwitterアカウント</a>宛に</li>
	<li>ご連絡いただけますよう宜しくお願い致します。</li>
	<li><br/></li>
	<li>当サイトで使用している「美雲このは」の画像は全て</li>
	<li><a href="https://conoha.mikumo.com/guideline/" target="_blank">キャラクター使用のガイドライン</a>に基づいて使用しています。</li>
	<li>画像データの再利用などはご遠慮ください。</li>
	<li><br/></li>
	<li>当サイトはジョークサイトです。</li>
	<li>当サイトの利用によって生じた損害等は</li>
	<li>一切の責任を負いかねますので、ご了承ください。</li>
	<li>また、管理者の都合により、事前告知なしに当サイトの</li>
	<li>サービス停止、または終了を行う場合があります。</li>
	<li>あらかじめご了承ください。</li>
</ul>

<div class="return_box">
	<%= link_to "戻る", home_index_path , class:'return_link link_button link' %>
</div>




