.main_contents{
	width:100%;
	text-align: center;
	padding-bottom:200px;
}

.title{
	margin-top:40px;
	font-size:48px;
}
.description{
	font-size:20px;
	margin-bottom:20px;
	
}
.link{
	color: rgb(255,255,255);
}
.link_button{
	display: inline-block;
	width:200px;
	height:30px;
	margin: auto;
	text-decoration: none;
	padding:10px 6px 6px 6px;
	margin: auto;
	border-radius: 20px;
	font-size:18px;
	font-weight: 800;
}
.submit_link{
	background-color: rgb(255,64,0);
}

.return_link{
	margin-top:20px;
	background-color: rgb(64,64,64);
}

.tweet_link{
	background-color: rgb(0,164,255);
}

.about_list{
	list-style-type: none;
	padding-left:0px;
}

.footer{
	position: fixed;
	bottom: 0px;
	left:0px;
	width:100%;
	text-align: center;
	background-color: rgb(0,128,255);
	padding-top: 20px;
	color: rgb(255,255,255);
}

.service_name{
	font-size: 24px;
}

.about_link{
	font-size: 16px;
}

.developer{
	font-size:12px;
}

.top_img{
	max-width:1000px;
	width:90%;
	margin-bottom:20px;
}
